#title-game {
  grid-row-start: 2;
  grid-column: 4/7;
  text-align: center;
}

#radio-box {
  margin: 2rem 0;
}

form {
  grid-row-start: 4;
  grid-column: 4/7;
  text-align: center;
}

input {
  margin: 1rem;
  background: #EEEB;
}

.radio {
  margin: -1rem;
}
