.header {
  background-color: #AAA;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 2rem;
  border-bottom: 1px outset #AAA2;
  height: 4rem;
}

.nav-links {
  position: absolute;
  right: 5rem;
  top: 1.4rem;
}

.nav-links span {
  margin: 1rem;
}

.title {
  font-size: 28pt;
  position: absolute;
  margin-top: 0.5rem;
}
